spring.application.name=ems

# Database
spring.datasource.url=jdbc:postgresql://localhost:7654/emsdb
spring.datasource.username=postgres
spring.datasource.password=postgres

# Hibernate
spring.jpa.hibernate.ddl-auto=create
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

## Locale
spring.jackson.date-format=yyyy-MM-dd HH:mm:ss
spring.jackson.time-zone=Europe/Lisbon

## JWT (authentication)
security.jwt.secret-key=T1NNRUxIT1JFU0JPTFNFSVJPU0RPVEVDTklDT1NBT09TRE9ERUkjQkVTVEJPTFNFSVJPU0VWRVIjT1BFUkFTRklYRTEyMw==
# Token lifetime in milliseconds (24h)
security.jwt.expiration-ms=86400000

## File Upload
exam.upload.path=./uploads/exams
question.upload.path=./uploads/questions